.bg-success {
    display: flex;
    background-color: #1a1a40;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.success {
    text-align: center;
    color: #417cea;
    background-color: #4c0027;
    max-width: 300px;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #420516;
}

img {
    width: 100px;
}